@{
    ViewData["Title"] = "Result";
}

@model ResultAndCount
The result of the test: @Model.Result / @Model.CountOfTest
<br />
<a asp-controller="Tests" asp-action="Tests" class="btn btn-outline-danger">Back</a>
