@{
    ViewData["Title"] = "Test";
}

@model Test 

<form method="post">
    <label name="can">
        @Model.Description
    </label><br />
    <input type="checkbox" name="can" value="true"/>
    <input type="hidden" name="id" value="@Model.Id" />
    <input type="submit" value="I agree to start" class="btn btn-outline-info"/>
</form>
