@{
    ViewData["Title"] = "Tests";
}

@model List<Test>
@foreach (var item in Model)
{
    <a class="btn btn-primary" asp-controller="Tests" asp-action="Test" asp-route-id=@item.Id>@item.Name Start</a>
    <br /><br />
}