@{
    ViewData["Title"] = "Log in";
}

@model LoginModel

<h2>Log in</h2>

<form class="form-group" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <p>
        <label asp-for="Email"></label>
        <input type="text" asp-for="Email" class="form-control"/>
        <span asp-validation-for="Email" />
    </p>
    <p>
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control"/>
        <span asp-validation-for="Password" />
    </p>
    <p>
        <br /><input type="submit" value="Log in" class="btn btn-outline-primary" />
    </p>
</form>

<a asp-action="Index" asp-controller="Home" class="btn btn-outline-danger">Back</a>