@{
    ViewData["Title"] = "Register";
}

@model RegisterModel

<h2>Registration</h2>

<form method="post" class="form-group">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <p>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" class="form-control"/>
        <span asp-validation-for="Email" />
    </p>
    <p>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" class="form-control"/>
        <span asp-validation-for="Password" />
    </p>
    <p>
        <label asp-for="ConfirmPassword"></label><br />
        <input asp-for="ConfirmPassword" class="form-control"/>
        <span asp-validation-for="ConfirmPassword" />
    </p>
    <p>
        <br /><input type="submit" value="Registration" class="btn btn-outline-primary"/>
    </p>
</form>

<a asp-action="Index" asp-controller="Home" class="btn btn-danger">Back</a>